body{
    background-color: #141B2D !important;
}

#sidebar{
    background-color: #1F2941 !important;
    width: 300px;
    height: 100% !important;
    z-index: 1000 !important;
}

@media (max-width: 768px) {
    #sidebar{
        width: 100%;
    }
}

#sidebar img{
    width: 130px;
    height: 120px;
}

#sidebar a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

#sidebar a:hover{
    color: lightblue;
}

#sidebar form{
    margin-top: auto;
}

#sidebar form button{
    background-color: lightblue;
    border: 1px solid lightblue;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in, border 0.3s ease-in;
}

#sidebar form button:hover{
    background-color: #7997a1;
    border: 1px solid #7997a1;
}
/* <!--===============================================================================================--> */
#main{
    margin-left: 300px;
    overflow: hidden;
}

#mainContent{
    margin-top: 80px;
}

#mainContent h1{
    color: white;
    font-family: 'Poppins', sans-serif;
}

#mainContent button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: lightblue;
    font-weight: bold;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

#mainContent button:hover{
    background-color: #7997a1;
    color: black;
}

@media (max-width: 768px) {
    #main{
        margin-left: 0px !important;
    }
}
/* <!--===============================================================================================--> */
.navbar{
    color: white;
    height: 80px;
    width: 100%;
    background-color: #141B2D;
    z-index: 999;
}

.navbar i{
    font-size: 30px;
}

.bi.bi-x-lg {
    z-index: 9999 !important;
    position: fixed !important;
    display: flex !important; 
}


.navbar i:hover{
    color: lightblue;
    cursor: pointer;
}
/* <!--===============================================================================================--> */
canvas {
    width: 100% !important;
    height: 400px !important;
    background-color: white;
    border-radius: 15px;
}
/* <!--===============================================================================================--> */
#cards .col h1{
    color: #141B2D;
    font-family: 'Poppins', sans-serif;
}

#cards .col h3{
    color: lightblue;
    font-weight: bold;
}

#cards .col h1{
    color: #1F2941;
    font-weight: bold;
}

#cards .col div{
    background-color: white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

#cards .col div::after{
    content: '';
    position: absolute;
    bottom: 0px;
    background-color: lightblue;
    opacity: 60%;
    right: -70px;
    width: 80px;
    height: 200px;
}
/* <!--===============================================================================================--> */
#imgBox{
    position: relative;
}

#imgBox i{
    color: white;
    position: absolute;
    left: 15px;
    top: 25px;
    font-size: 30px;
}

@media (min-width:768px) {
    #imgBox i{
        display: none !important;
    }
}
/* <!--===============================================================================================--> */
.table{
    border-radius: 15px;
    overflow: hidden;
}
/* <!--===============================================================================================--> */
.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a,
  .pagination li span {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #eaeaea;
    color: #333;
  }
  
  .pagination li.active span {
    background-color: lightblue;
    color: #fff;
  }
  
  .pagination li.disabled span,
  .pagination li.disabled a {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .pagination li a:hover {
    background-color: #ccc;
  }
/* <!--===============================================================================================--> */
table{
    font-family: 'Roboto', sans-serif;
}
/* <!--===============================================================================================--> */
.modal{
    z-index: 9999 !important;
}

.modal-header h1{
    display: flex;
    align-items: center;
    gap: 5px;
}

.modal-body input[text]{
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgba(230, 230, 230, 1);
}

.modal-body img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
/* <!--===============================================================================================--> */
tbody tr td span{
    font-size: 30px !important;
    padding: 10px;
    background-color: var(--var-color);
    border-radius: 50%;
}

tbody tr td span:hover{
    filter: brightness(0.5);
    cursor: pointer;
}
